<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="comman/header :: header"/>

<body>
    <div th:replace="comman/header :: navbar"/>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Home</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg" ><img src="lake.jpg" width=400 height=200 /></div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
   </div>
</div>
</div>
</body>
</html>
